<div class="article-card" (click)="redirectToArticle(article.url)">
  <div class="article-card-category">
    {{article.category}}
  </div>
  <div class="article-card-image" style="background-image: url({{serverStaticPath+article.image}})"></div>
  <div class="article-card-title">{{article.title}}</div>
  <div class="article-card-description">{{article.description | articleDescriptionShortener:230}}</div>
  <a [routerLink]="'/article/' + article.url" class="article-card-detail">Читать дальше</a>
</div>
