@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.article {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {
    .article-header {
      .article-header-breadcrumbs {
        margin-bottom: 60px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #B9D5FD;
        cursor: pointer;

        span {
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: $light-blue-main-color;
          cursor: auto;
        }
      }

      .article-header-main {
        display: flex;
        gap: 106px;
        align-items: flex-start;

        .article-header-main-description {
          width: 607px;

          .article-header-main-description-title {
            @include head-lora-38;
            margin-bottom: 40px;
          }

          .article-header-main-description-text {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 130%;
            color: $light-blue-main-color;

          }
        }

        .article-header-main-image {
          width: 527px;
          height: 320px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          border-radius: 5px;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

        }
      }
    }

    .article-content-block {
      display: flex;
      gap: 130px;

      .article-content {
        width: 818px;
        padding-top: 60px;

        .article-text {
          display: flex;
          flex-direction: column;
          gap: 20px;

          ul {
            li {
              font-family: 'Montserrat', sans-serif;
              font-weight: 400;
              font-size: 20px;
              line-height: 130%;
              color: $light-blue-main-color;
            }
          }
        }

        .article-socials {
          display: flex;
          margin-top: 60px;

          span {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 130%;
            color: $light-blue-main-color;
            margin-right: 20px;
          }

          a {
            margin-right: 13px;
          }
        }
      }

      .article-aside {
        padding-top: 120px;

        span {
          display: block;
          margin-bottom: 20px;
          font-family: 'Lora', sans-serif;
          font-weight: 400;
          font-size: 26px;
          color: $light-blue-main-color;
        }

        .related-articles {
          display: flex;
          flex-direction: column;
          gap: 60px;
        }
      }
    }

    .comments-block {
      width: 854px;
      margin-top: 60px;

      .comments-block-title {
        @include head-lora-38;
      }

      .comments-block-info {
        margin-top: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: $darker-blue-text-color;

        a {
          color: $light-blue-main-color;
          text-decoration: none;
        }
      }

      .comments-block-comment-form {
        margin-top: 40px;

        textarea {
          height: 248px;
          width: 818px;
          border-color: $light-blue-main-color;
          border-radius: 5px;
          border-width: 2px;
          resize: none;
          padding: 20px;

          &::placeholder {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: #A8ABA7;
          }

          &:focus-visible {
            outline: none;
          }
        }

        .comment-button {
          height: 51px;
          width: 422px;
          margin-top: 18px;
        }
      }

      .comment-block {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 40px;

        .comment-block-user {
          display: flex;
          gap: 26px;
          align-items: flex-start;

          .comment-block-user-image {
            height: 60px;
            width: 60px;
            box-sizing: border-box;
            border-radius: 50%;
            border: 2px solid $light-blue-main-color;
            background-color: #B9D5FD;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .comment-block-user-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;

            .comment-user-name {
              font-family: 'Montserrat', sans-serif;
              font-weight: 600;
              font-size: 18px;
              color: $light-blue-main-color;
            }

            .comment-time {
              font-family: 'Montserrat', sans-serif;
              font-weight: 600;
              font-size: 14px;
              color: #BEBEBE;
            }

            .comment-block-text {
              font-family: 'Montserrat', sans-serif;
              font-weight: 400;
              font-size: 14px;
              line-height: 140%;
              color: $darker-blue-text-color;
            }
          }

        }

        .comment-block-actions {
          margin-top: 35px;
          display: flex;
          align-items: center;
          gap: 15px;

          .comment-action {
            display: flex;
            align-items: center;
            gap: 3px;
            cursor: pointer;

            span {
              font-family: 'Montserrat', sans-serif;
              font-weight: 600;
              font-size: 14px;
              color: $darker-blue-text-color;
            }

            &.active {
              span, svg path {
                stroke: #709FDC;
                //fill: #709FDC;
                color: #709FDC;
              }
            }
          }
        }
      }

      .comments-block-link-download {
        cursor: pointer;
        margin-top: 60px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: $light-blue-main-color;

      }
    }
  }
}
