@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.comments-block {
  width: 854px;
  margin-top: 60px;

  .comments-block-title {
    @include head-lora-38;
  }

  .comments-block-info {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: $darker-blue-text-color;

    a {
      color: $light-blue-main-color;
      text-decoration: none;
    }
  }

  .comments-block-comment-form {
    margin-top: 40px;

    textarea {
      height: 248px;
      width: 818px;
      border-color: $light-blue-main-color;
      border-radius: 5px;
      border-width: 2px;
      resize: none;
      padding: 20px;

      &::placeholder {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #A8ABA7;

      }

      &:focus-visible {
        outline: none;
      }
    }

    .comment-button {
      height: 51px;
      width: 422px;
      margin-top: 18px;
    }
  }

  .comment-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;

    .comment-block-user {
      display: flex;
      gap: 26px;
      align-items: flex-start;

      .comment-block-user-image {
        height: 60px;
        width: 60px;
        box-sizing: border-box;
        border-radius: 50%;
        border: 2px solid $light-blue-main-color;
        background-color: #B9D5FD;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .comment-block-user-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;

        .comment-user-name {
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          font-size: 18px;
          color: $light-blue-main-color;
        }

        .comment-time {
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          font-size: 14px;
          color: #BEBEBE;
        }

        .comment-block-text {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          color: $darker-blue-text-color;
        }
      }

    }

    .comment-block-actions {
      margin-top: 35px;
      display: flex;
      align-items: center;
      gap: 15px;

      .comment-action {
        display: flex;
        align-items: center;
        gap: 3px;
        cursor: pointer;

        span {
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          font-size: 14px;
          color: $darker-blue-text-color;
        }

        &.active {
          span, svg path {
            stroke: #709FDC;
            //fill: #709FDC;
            color: #709FDC;
          }
        }
      }
    }
  }

  .comments-block-link-download {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: $light-blue-main-color;

  }
}
